{% extends "base.html" %}
{% block content %}
    <head>
        {% if reload_time %}
            <meta http-equiv="refresh" content="{{ reload_time }}">
        {% else %}
        {% endif %}
    </head>
    {% if post_list %}
        <div class="container">
            <div class="row">
                <div class="col-md-12 mt-5 left">
                    {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    {% for post in post_list %}
                        <div class="card mb-4">
                            <div class="card-body">
                                <h2 class="card-title">{{ post.title }}</h2>
                                <p class="card-text text-muted h6"><a
                                        href="{% url 'user_detail' post.author.id %}">{{ post.author }}</a>
                                    | {{ post.created_on }} </p>
                                {% if post.content|length > 20 %}
                                    <a title="Read more" href="{% url 'post_detail' post.slug %}">
                                        <p class="card-text">{{ post.content|slice:":20" }}...</p>
                                    </a>
                                {% else %}
                                    <p class="card-text">{{ post.content }}</p>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% else %}
        <div class="col-md-12 mt-5 left">
            <div class="card mb-4">
                <div class="card-body">
                    There are currently no posts.
                </div>
            </div>
        </div>
    {% endif %}

    {% block form %}
        {% include 'post_create.html' %}
    {% endblock %}

{% endblock %}