{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a class="navbar-brand" href="/">
        Visitors Book
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto text-center">


            {% if not request.user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}?next={% url 'home' %}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'signup' %}?next={{ request.path }}">Register</a>
                </li>

            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}?next={{ request.path }}">Logout</a>
                </li>
                {% if user.is_superuser %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'admin:index' %}">Admin panel</a>
                    </li>
                {% else %}
                {% endif %}
            {% endif %}
            <form class="form-inline my-2 my-lg-0 justify-content-center" method="GET" action="{% url 'search' %}">
                <input required class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"
                       name="search_query">
                <button class="btn btn-primary" type="submit">Search</button>
            </form>
        </ul>
        {#        <div>#}
        {#            <form class="form-inline my-2 my-lg-0 justify-content-center" method="GET" action="{% url 'search' %}">#}
        {#                <input required class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"#}
        {#                    name="search_query">#}
        {#                <button class="btn btn-outline-slack my-2 my-sm-0" type="submit">Search</button>#}
        {#            </form>#}
        {#        </div>#}

    </div>
</nav>